# Server Configuration
PORT=3000

# Cách 1: Sử dụng chuỗi MONGODB_URI (Khuyên dùng cho Replica Set CMC Cloud)
MONGODB_URI=mongodb://username:password@10.0.11.49:27017,10.0.11.114:27017,10.0.11.71:27017,10.0.11.80:27017/product_review_db?replicaSet=replicaset&authSource=admin&readPreference=secondaryPreferred

# Cách 2: Sử dụng các biến môi trường tách rời (Tuân thủ đề bài Lab)
# DB_HOST=10.0.11.49,10.0.11.114,10.0.11.71,10.0.11.80
# DB_PORT=27017
# DB_USER=appuser
# DB_PASSWORD=your_password
# DB_NAME=product_review_db
# DB_REPLICA_SET=replicaset
# DB_READ_PREFERENCE=secondaryPreferred
